.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.listContainer{
    min-width: 60%;
    border: 2px solid #B4D9CB;
    border-radius: 5px;
}

.listContainerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    width: 100%;
    max-width: 60%;
    margin-bottom: 10px;
}

.item{
    border-bottom: 2px solid #B4D9CB;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px
}
.item:last-child{
    border-bottom: 0;
}
.listItemHeader{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.listItemHeader div{
    display: flex;
    align-items: center;
}

.listItemHeader img{
    margin: 5px;
}

.taskContainer{
    margin-left: 90px;

}

.taskHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #B4D9CB;
    width: 95%;
    padding-bottom: 2px;
}

input{
    margin-right: 5px;
}

.subTaskContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-left: 15px;
}

.subTaskItem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.subTaskDiv{
    display: flex;
    align-items: center;
}

.fix{
    display: flex;
    align-items: center;
}

.toggleEditInput{
    display: flex;
    border: 1px solid #EF7734;
    border-radius: 3px;
    height: 40px;
    max-width: 80%;
    margin-left: 120px;
}
.toggleEditInput input{
    flex-grow: 2;
    border: 0;
    background-color: transparent;
    padding: 10px;
}
.toggleEditInput button{
    border: 0;
    margin-right: 5px;
}

.toggleEditSubTaskInput{
    display: flex;
    border: 1px solid #EF7734;
    border-radius: 3px;
    height: 40px;
    max-width: 80%;
    margin-left: 60px;
}
.toggleEditSubTaskInput input{
    flex-grow: 2;
    border: 0;
    background-color: transparent;
    padding: 10px;
}
.toggleEditSubTaskInput button{
    border: 0;
    margin-right: 5px;
}
